*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,html,#root{
  height: 100%;
  font-family: Arial,  sans-serif;
}
.app{
  display:flex;
  height: 100vh;
}
.main-content{
  flex-grow: 1;
  background-color: #f4f5f7;
  padding: 20px;
  display: flex;
  flex-direction: column;
}